.firestore-retrievables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 550px;
  margin-bottom: 0px;
  width: 500px;
}

.account-page-container {
  margin-bottom: 50px;
}

.account-page-title {
  margin-bottom: 100px;
  margin-top: 30px;
  font-size: 45px;
}
