.goals-flex-box {
  display: flex;
  background-color: #f3f3f5;
  height: 100vh;
}

.goal-form-field-inline {
  display: inline;
  width: 100px;
}

.recommendations-header {
  margin-bottom: 45px;
}

.recommendations-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 800px;
  height: 750px;
  margin-top: 80px;
  margin-right: 100px;
  margin-left: -200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.no-recommendations-container {
  width: 800px;
  height: 660px;
  margin-top: 140px;
  margin-right: 130px;
  margin-left: -200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.no-data-header {
  text-align: center;
  margin-top: 40px;
}

.custom-diet-input {
  display: inline;
  margin-right: 20px;
  margin-top: 0px;
  width: 90px;
  height: 30px;
  float: right;
}

.custom-diet-activate-button {
  margin-left: 75px;
  margin-top: 25px;
}

.no-data-warning-container {
  width: 550px;
  margin: auto;
  margin-top: 250px;
}

.no-data-warning-text {
  font-size: 22px;
  color: brown;
}

.application-access-text {
  font-size: 22px;
  color: green;
}

.application-access-text-conatiner {
  width: 550px;
  margin: auto;
  margin-top: 60px;
}
