.graph {
  min-height: 450px;
  max-height: 450px;
  min-width: 950px;
  max-width: 950px;
  margin: auto;
  margin-top: 25px;
}

.weight_graph_page {
  margin: auto;
  margin-top: 65px;
}

.weight_form_and_entries_container {
  margin: auto;
  margin-top: 25px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
}
