.filter_container {
  margin-top: 30px;
  margin-bottom: -48px;
  margin-left: 440px;
  width: 330px;
  display: flex;
}

.month_dropdown_list {
  margin: auto;
}

.year_dropdown_list {
  margin: auto;
}

.reset_filters_button {
  margin: auto;
  width: 115px;
}
